body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

hr {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.brand {
  background-color: #F2F2F2;
}

.logo {
  text-align: center;
}

.map-area {
  border: 1px solid #333;
}

#map-canvas img {
  max-width: none;
}

.rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.spacer { height: 28px; }
.big { font-size: 40px; }
.sbig { font-size: 20px; }
.pad { padding: 10px; }
.padt { padding-top: 25px; }
.dark { color: #111; }
.mtop { margin-top: 10px; }
.gray { background-color: #eee; }
.bgo {
  background-color: #e35528;
  background-image: none;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.bgg {
  background-color: #33cc33;
  background-image: none;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.center { text-align: center; }
.bordered { border: 1px solid #fff; }
.orange { color: #e35528; }


/* temp stuff */

.color { background-color: red; }
.color2 { background-color: green; }

.give {
  width: 870px;
  height: 340px;
}
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

hr {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.content {
  max-width: 960px;
}

.brand {
  background-color: #F2F2F2;
}
.logo {
  text-align: center;
  padding: 12px 0;
}
.map-area {
  border: 1px solid #333;
}
#map-canvas img {
  max-width: 958px;
  height: 250px;
}

.listing {
  margin-top: 24px;
}


footer {
  text-align: center;
}
