body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

hr {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.content {
  max-width: 960px;
}

.brand {
  background-color: #F2F2F2;
}
.logo {
  text-align: center;
  padding: 12px 0;
}
.map-area {
  border: 1px solid #333;
}
#map-canvas img {
  max-width: none;
}

footer {
  text-align: center;
}
