@media (min-width: 768px) {
  .listing .info {
    margin-right: 24px;
  }
  .listing .cost {
    display: block;
    float: right;
    border-left: 1px solid #aaa;
  }
}

@media (min-width: 980px) {
  .listing {
    margin: 24px 0;
  }
  .listing .cost .cost-info {
    padding: 32px 0 32px 16px;
  }
}
@media (max-width: 979px) {
  .listing {
    margin: 24px 0;
  }
  .listing .cost .cost-info {
    padding: 32px 0;
  }
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

hr {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Page */
.content {
  max-width: 960px;
}

/* Header */
.brand {
  background-color: #F2F2F2;
}
.logo {
  text-align: center;
  padding: 12px 0;
}
.map-area {
  border: 1px solid #333;
}
#map-canvas img {
  max-width: 958px;
  height: 250px;
}

/* Listing */
.listing-list {
  background-color: #F2F2F2;
}
.listing a:hover {
  background-color: #888;
}
.listing h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  color: #E35528;
  margin: 0;
  padding: 0 0 12px 0;
}
.listing .image {
  float: left;
  width: 218px;
  height: 130px;
  margin-right: 12px;
}
.listing .info {
  float: left;
}
.listing .info .item {
  color: #333;
  font-size: 18px;
  margin-bottom: 4px;
}
.listing .info .positive {
  color: #39B54A;
}
.listing .info .negative.is_negative {
  color: #FD2020;
}
.listing .cost {
  display: block;
  float: right;
}
.listing .cost .cost-info .amount {
  color: #333;
  font-size: 48px;
  height: 36px;
}
.listing .cost .cost-info .subtext {

}

/* Side bar */
.rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.spacer { height: 28px; }
.big { font-size: 40px; }
.sbig { font-size: 20px; }
.pad { padding: 10px; }
.padt { padding-top: 25px; }
.dark { color: #111; }
.mtop { margin-top: 10px; }
.gray { background-color: #eee; }
.bgo {
  background-color: #e35528;
  background-image: none;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.bgg {
  background-color: #33cc33;
  background-image: none;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.center { text-align: center; }
.bordered { border: 1px solid #fff; }
.orange { color: #e35528; }

footer {
  text-align: center;
}
